body{
    margin: 0;
}
#title{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#all{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.idk{
    display: flex;
    height: 200px;
    width: 200px;
    background-color: rgb(0, 183, 255);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}
.idk:hover{
    background-color: rgb(42, 195, 255);
    transform: scale(105%);
}
#sus{
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: -10px;
}
